@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  /* font-family: "Poppins", sans-serif; */
}

body {
  min-height: 100vh;
  background: #000;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ctf-details-table {
  margin-bottom: 50px;
}
.ctf-details-table td {
  padding: 5px 30px;
  font-size: 20px;
  /* font-weight: 300; */
}
.table-entry {
  color: #b00000;
  text-transform: uppercase;
  font-size: 24px !important;
  font-weight: 700 !important;
}
.section {
  min-height: 100vh;
  width: 100%;
  background-color: #1b1a1a;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
  overflow-x: hidden;
  transform-style: preserve-3d;
  background-color: #1b1a1a;
  background-image: url(https://www.transparenttextures.com/patterns/dark-mosaic.png);
}
.announced-text {
  font-size: 30px;
  font-weight: 700;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 5rem;
  background-color: #b00000;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}

.menu {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.major-content {
  position: absolute;
  background-color: #1b1a1a;
  background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  color: white;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
  overflow: hidden;
  padding-bottom: 150px;
  margin-top: 5vw;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  background-color: #1b1a1a;
  background-image: url(https://www.transparenttextures.com/patterns/dark-mosaic.png);
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 5;
  overflow: auto;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.button2 {
  position: relative;
  display: inline-block;
  padding: 20px 61px;
  border-radius: 4px;
  color: #5865f2;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin: 0 25px 25px 25px;
  font-family: "Roboto", sans-serif;
  filter: hue-rotate(0deg);
  border: 2px solid #d2bdff;
  transition: all 0.1s linear;
}
.button2-register {
  color: white !important;
}
.button2-register:hover span:nth-child(1) {
  background: linear-gradient(90deg, transparent, yellow) !important;
}
.button2-register:hover span:nth-child(2) {
  background: linear-gradient(90deg, transparent, yellow) !important;
}
.button2-register:hover span:nth-child(3) {
  background: linear-gradient(90deg, transparent, yellow) !important;
}
.button2-register:hover span:nth-child(4) {
  background: linear-gradient(90deg, transparent, yellow) !important;
}
.button2:hover {
  border: 1px solid transparent;
}
.button2:hover span {
  position: absolute;
  display: block;
}
.button2:hover span:nth-child(1) {
  filter: hue-rotate(0deg);
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, transparent, #3a86ff);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.button2:hover span:nth-child(2) {
  filter: hue-rotate(60deg);
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #3a86ff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.button2:hover span:nth-child(3) {
  filter: hue-rotate(120deg);
  bottom: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(270deg, transparent, #3a86ff);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
    height: 3px;
  }
  50%,
  100% {
    height: 2px;
    right: 100%;
  }
}
.button2:hover span:nth-child(4) {
  filter: hue-rotate(300deg);
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #3a86ff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.main-title-div {
  width: 100%;
  min-height: 90vh;
  background-color: #1b1a1a;
  background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  text-align: center;
}

.button-div {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.dates-div {
  position: absolute;
  left: 0;
  right: 0;
  top: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.section.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.section.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.section.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: #b00000;
}

.section.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.section.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.section.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.section.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.section.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}



.first-prize {
  font-size: 45px;
  font-weight: 800;
  align-items: center;
}
.second-prize {
  font-size: 40px;
  font-weight: 800;
  align-items: center;
}
.third-prize {
  font-size: 35px;
  font-weight: 800;
  align-items: center;
}
.first-prize sup {
  font-size: 25px !important;
  margin-left: 3px;
}
.second-prize sup{
  font-size: 21px;
  margin-left: 3px;
}
.third-prize sup{
  font-size: 18px;
  margin-left: 2px;
}
.first-prize span {
  font-size: 20px;
  margin-left: 5px;
}
.second-prize span{
  font-size: 17px;
  margin-left: 4px;
}
.third-prize span{
  font-size: 15px;
  margin-left: 3px;
}
.third-prize i,
.second-prize i,
.first-prize i{
  color: #b00000;
}
.third-prize p,
.second-prize p,
.first-prize p {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
.main-title-div h4 {
  font-size: 16px;
}
.main-title-div h4 span {
  font-family: Consolas, monaco, monospace;
  letter-spacing: 1px;
  font-weight: 900;
  color: #084766;
  text-transform: uppercase;
  text-shadow: 1px 1px #b8d5e4;
}

.main-title-div h4 span:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}


/*-----------------------------------------for mobile screens custom--------------------------------------*/

@media (max-width: 660px) {

  .first-prize,
  .second-prize,
  .third-prize {
    font-size: 25px;
    font-weight: 800;
    align-items: center;
  }
  .prizes-container h1{
    font-size: 20px;
  }
  .prizes-container{
    padding: 25px;
  }
  .first-prize i,.second-prize i, .third-prize i{
    margin-top: -10px;
  }
  .first-prize sup,
  .second-prize sup,
  .third-prize sup{
    font-size: 15px !important;
    margin-left: 2px;
  }
  .first-prize span,
  .second-prize span,
  .third-prize span{
    font-size: 15px;
    margin-left: 3px;
  }
  .about-image img {
    width: 150px;
  }
  .title-img {
    width: 250px;
    height: 80px;
  }

  .button2 {
    padding: 15px 50px;
    width: 60%;
  }

  .ctf-details-table {
    margin-bottom: 50px;
  }
  .ctf-details-table td {
    padding: 4px 2px;
    font-size: 15px !important;
    /* font-weight: 300; */
  }
  .table-entry {
    color: #b00000;
    text-transform: uppercase;
    font-weight: 700 !important;
  }

  .section.active .main {
    animation: main-animation 0.5s ease;
    cursor: pointer;
    transform: perspective(1100px) rotateY(20deg) translateZ(120px) scale(0.4);
  }

  @keyframes main-animation {
    from {
      transform: translate(0);
    }

    to {
      transform: perspective(1100px) rotateY(20deg) translateZ(120px) scale(0.4);
    }
  }

  .links {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    list-style: none;
  }

  .links a {
    text-decoration: none;
    color: #eee;
    padding: 0.7rem 0;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(10px);
    animation: hide 0.5s forwards ease;
  }

  .links a:hover {
    color: #b00000;
  }

  .section.active .links a {
    animation: appear 0.5s forwards ease var(--i);
  }

  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes hide {
    from {
      opacity: 1;
      transform: translateY(0px);
    }
    to {
      opacity: 0;
      transform: translateY(10px);
    }
  }

  .shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 0.5s;
    background-color: white;
  }

  .shadow.one {
    z-index: -1;
    opacity: 0.15;
  }

  .shadow.two {
    z-index: -2;
    opacity: 0.1;
  }

  .section.active .shadow.one {
    animation: shadow-one 0.6s ease-out;
    transform: perspective(1100px) rotateY(20deg) translateZ(80px) scale(0.4);
  }

  @keyframes shadow-one {
    0% {
      transform: translate(0);
    }

    5% {
      transform: perspective(1100px) rotateY(20deg) translateZ(120px) scale(0.4);
    }

    100% {
      transform: perspective(1100px) rotateY(20deg) translateZ(80px) scale(0.4);
    }
  }

  .section.active .shadow.two {
    animation: shadow-two 0.6s ease-out;
    transform: perspective(1100px) rotateY(20deg) translateZ(50px) scale(0.4);
  }

  @keyframes shadow-two {
    0% {
      transform: translate(0);
    }

    20% {
      transform: perspective(1100px) rotateY(20deg) translateZ(120px) scale(0.4);
    }

    100% {
      transform: perspective(1100px) rotateY(20deg) translateZ(50px) scale(0.4);
    }
  }

  .section.active .main:hover + .shadow.one {
    transform: perspective(1100px) rotateY(20deg) translateZ(100px) scale(0.4);
  }

  .section.active .main:hover {
    transform: perspective(1100px) rotateY(20deg) translateZ(150px) scale(0.4);
  }
}

.event-duration {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*BUTTON CSS*/

.play-button {
  white-space: nowrap;
}

.title {
  font-size: 5em;
  /* margin-bottom: 28px; */
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important; */
}
.presents {
  letter-spacing: 15px;
  text-transform: uppercase;
  font-size: 24px;
}

.sponsor-title {
  font-size: 3em;
  text-align: center;
}

.past-event-title {
  font-size: 3em;
  text-align: center;
  padding: 0 10px 0 10px;
}

.a-n2 {
  margin-top: 20px;
  text-decoration: none;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 20px 30px 20px 30px;
  overflow: hidden;
  transition: 0.2s all;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.a-n2 span {
  position: absolute;
  display: block;
}

.a-n2:hover {
  background: #5865f2;
  color: #000;
  box-shadow: 0px 0px 10px #5865f2, 0px 0px 40px#5865F2, 0px 0px 80px #5865f2;
  transition-delay: 0.2s;
}
.a-n2 span:nth-child(1) {
  top: 0px;
  left: -91%;
  width: 100%;
  height: 2px;
  background: #5865f2;
}

.a-n2:hover span:nth-child(1) {
  left: 0%;
  transition: 0.3s;
}
.a-n2 span:nth-child(3) {
  bottom: 0px;
  right: -91%;
  width: 100%;
  height: 2px;
  background: #5865f2;
}

.a-n2:hover span:nth-child(3) {
  right: 0%;
  transition: 0.3s;
}
.a-n2 span:nth-child(2) {
  bottom: -70%;
  right: 0%;
  width: 2px;
  font-weight: 100;
  background: #5865f2;
  height: 100%;
}

.a-n2:hover span:nth-child(2) {
  bottom: 0%;
  transition: 0.3s;
}
.a-n2 span:nth-child(4) {
  top: -70%;
  left: 0%;
  width: 2px;
  font-weight: 100;
  background: #5865f2;
  height: 100%;
}

.a-n2:hover span:nth-child(4) {
  top: 0%;
  transition: 0.3s;
}

.event_date {
  position: absolute;
  left: 49.8%;
  top: 132%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event_date > span {
  margin-left: 20px;
  justify-content: center;
  align-content: center;
  vertical-align: top;
}

/*-----------------------------------------CTF logo glitch effect--------------------------- */

#ctf_logo {
  position: relative;
  width: 200px;
  height: 200px;
  background: url(/static/images/ctf\ logo.png) no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

#ctf_logo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: url(/static/images/ctf\ logo.png) no-repeat;
  background-size: 100%;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

#ctf_logo:hover:before {
  animation: animate 0.8s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
  10% {
    background-position: 5px 0;
  }
  20% {
    background-position: -5px 0;
  }
  30% {
    background-position: 15px 0;
  }
  40% {
    background-position: 5px 0;
  }
  50% {
    background-position: -25px 0;
  }
  60% {
    background-position: -20px 0;
  }
  70% {
    background-position: 0 -20px;
  }
  80% {
    background-position: -25px -20px;
  }
  81% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 0;
    filter: hue-rotate(360deg);
  }
}

/*----------------------------------------------------text glitch effect--------------------------------*/

.glitch {
  color: white;
  font-size: 3em;
  position: relative;
  width: auto;
}
@keyframes noise-anim {
  0% {
    clip-path: inset(94% 0 2% 0);
  }
  5% {
    clip-path: inset(58% 0 20% 0);
  }
  10% {
    clip-path: inset(34% 0 39% 0);
  }
  15% {
    clip-path: inset(59% 0 28% 0);
  }
  20% {
    clip-path: inset(76% 0 7% 0);
  }
  25% {
    clip-path: inset(84% 0 3% 0);
  }
  30% {
    clip-path: inset(39% 0 44% 0);
  }
  35% {
    clip-path: inset(56% 0 1% 0);
  }
  40% {
    clip-path: inset(23% 0 52% 0);
  }
  45% {
    clip-path: inset(89% 0 11% 0);
  }
  50% {
    clip-path: inset(8% 0 26% 0);
  }
  55% {
    clip-path: inset(36% 0 61% 0);
  }
  60% {
    clip-path: inset(18% 0 10% 0);
  }
  65% {
    clip-path: inset(25% 0 29% 0);
  }
  70% {
    clip-path: inset(49% 0 29% 0);
  }
  75% {
    clip-path: inset(44% 0 45% 0);
  }
  80% {
    clip-path: inset(51% 0 30% 0);
  }
  85% {
    clip-path: inset(54% 0 22% 0);
  }
  90% {
    clip-path: inset(4% 0 39% 0);
  }
  95% {
    clip-path: inset(93% 0 4% 0);
  }
  100% {
    clip-path: inset(92% 0 4% 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 4px;
  right: 0;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  animation: noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim-2 {
  0% {
    clip-path: inset(52% 0 14% 0);
  }
  5% {
    clip-path: inset(24% 0 29% 0);
  }
  10% {
    clip-path: inset(22% 0 14% 0);
  }
  15% {
    clip-path: inset(15% 0 4% 0);
  }
  20% {
    clip-path: inset(70% 0 26% 0);
  }
  25% {
    clip-path: inset(23% 0 16% 0);
  }
  30% {
    clip-path: inset(49% 0 31% 0);
  }
  35% {
    clip-path: inset(4% 0 58% 0);
  }
  40% {
    clip-path: inset(81% 0 1% 0);
  }
  45% {
    clip-path: inset(6% 0 57% 0);
  }
  50% {
    clip-path: inset(18% 0 29% 0);
  }
  55% {
    clip-path: inset(22% 0 37% 0);
  }
  60% {
    clip-path: inset(16% 0 83% 0);
  }
  65% {
    clip-path: inset(11% 0 12% 0);
  }
  70% {
    clip-path: inset(98% 0 1% 0);
  }
  75% {
    clip-path: inset(73% 0 1% 0);
  }
  80% {
    clip-path: inset(31% 0 69% 0);
  }
  85% {
    clip-path: inset(85% 0 2% 0);
  }
  90% {
    clip-path: inset(75% 0 19% 0);
  }
  95% {
    clip-path: inset(11% 0 30% 0);
  }
  100% {
    clip-path: inset(97% 0 1% 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -4px;
  right: 0;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: transparent;
  overflow: hidden;
  animation: noise-anim-2 15s infinite linear alternate-reverse;
}
@media only screen and (max-width: 1000px) and (min-width: 700px) {
  .rounded-lg-3 {
    transform: translateX(150px);
  }
}

@media only screen and (max-width: 550px) and (min-width: 539px) {
  .rounded-lg-3 {
    transform: translateX(85px);
  }
}

/*-------------------------sponsor section bootstrap css------------------------------- */

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}
.icon-link > .bi {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  transition: transform 0.25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(0.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.rounded-4 {
  border-radius: 0.5rem;
}
.rounded-5 {
  border-radius: 1rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* .d-flex{
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  background-color: #b00000;
} */

.pb-2 {
  text-align: center;
  color: white;
  margin-top: 80px;
  height: 100px;
  margin-bottom: 50px;
  width: 518px;
  margin-left: auto;
  margin-right: auto;
}

.sponsors_socials {
  color: white;
}

/*-------------------------about section bootstrap css------------------------------- */

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: 0.3rem;
  }
}

.lead_1 {
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: medium;
}

.lead_2 {
  color: white;
  padding-top: 5px;
  padding-bottom: 35px;
  font-size: medium;
}

/*-------------------------event carousel section bootstrap css------------------------------- */

.custom-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#slider {
  position: relative;
  width: 50%;
  height: 35vw;
  font-family: "Helvetica Neue", sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
  margin-top: 100px;
}

input[type="radio"] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 15px 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
}

input[type="radio"]:nth-child(5) {
  margin-right: 0px;
}

input[type="radio"]:checked {
  opacity: 1;
}

#slider label,
#slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(20%, 0, -100px);
}

/* Next to Next Slide */
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(40%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-40%, 0, -250px);
}

/* Previous Slide */
#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-20%, 0, -100px);
}

@media (max-width: 750px) {
  /*---------------------------------------------------------------------------------------*/


  .about-image {
    display: hidden;
  }

  .time {
    width: 90% !important;
    height: 80% !important;
  }
  .time-box p {
    font-size: 12px !important;
  }
  .time-box div {
    font-size: 20px !important;
  }
  .title {
    font-size: 3.5em;
    padding: 0 10px 0 10px;
    margin-top: 100px;
  }

  .a-n2 {
    padding: 8px 15px 8px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sponsor-title {
    font-size: 2.2em;
    text-align: center;
  }

  .past-event-title {
    font-size: 2.2em;
    text-align: center;
    padding: 0 10px 0 10px;
  }

  .about-image {
    display: hidden !important;
  }

  #slider {
    width: 60%;
    height: 45vw;
  }

  #ctf_logo {
    position: relative;
    width: 250px;
    height: 250px;
    background: url(/static/images/ctf\ logo.png) no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
  }

  #ctf_logo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    background: url(/static/images/ctf\ logo.png) no-repeat;
    background-size: 100%;
    opacity: 0.5;
    mix-blend-mode: hard-light;
  }

  #ctf_logo:hover:before {
    animation: animate 0.8s linear infinite;
  }
  @keyframes animate {
    0% {
      background-position: 0 0;
      filter: hue-rotate(0deg);
    }
    10% {
      background-position: 5px 0;
    }
    20% {
      background-position: -5px 0;
    }
    30% {
      background-position: 15px 0;
    }
    40% {
      background-position: 5px 0;
    }
    50% {
      background-position: -25px 0;
    }
    60% {
      background-position: -20px 0;
    }
    70% {
      background-position: 0 -20px;
    }
    80% {
      background-position: -25px -20px;
    }
    81% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 0;
      filter: hue-rotate(360deg);
    }
  }

  .glitch:hover {
    color: white;
    font-size: 2.2em;
    position: relative;
    width: auto;
  }
  @keyframes noise-anim {
    0% {
      clip-path: inset(94% 0 2% 0);
    }
    5% {
      clip-path: inset(58% 0 20% 0);
    }
    10% {
      clip-path: inset(34% 0 39% 0);
    }
    15% {
      clip-path: inset(59% 0 28% 0);
    }
    20% {
      clip-path: inset(76% 0 7% 0);
    }
    25% {
      clip-path: inset(84% 0 3% 0);
    }
    30% {
      clip-path: inset(39% 0 44% 0);
    }
    35% {
      clip-path: inset(56% 0 1% 0);
    }
    40% {
      clip-path: inset(23% 0 52% 0);
    }
    45% {
      clip-path: inset(89% 0 11% 0);
    }
    50% {
      clip-path: inset(8% 0 26% 0);
    }
    55% {
      clip-path: inset(36% 0 61% 0);
    }
    60% {
      clip-path: inset(18% 0 10% 0);
    }
    65% {
      clip-path: inset(25% 0 29% 0);
    }
    70% {
      clip-path: inset(49% 0 29% 0);
    }
    75% {
      clip-path: inset(44% 0 45% 0);
    }
    80% {
      clip-path: inset(51% 0 30% 0);
    }
    85% {
      clip-path: inset(54% 0 22% 0);
    }
    90% {
      clip-path: inset(4% 0 39% 0);
    }
    95% {
      clip-path: inset(93% 0 4% 0);
    }
    100% {
      clip-path: inset(92% 0 4% 0);
    }
  }
  .glitch:hover:after {
    content: attr(data-text);
    position: absolute;
    left: 4px;
    right: 0;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: transparent;
    overflow: hidden;
    animation: noise-anim 2s infinite linear alternate-reverse;
  }
  @keyframes noise-anim-2 {
    0% {
      clip-path: inset(52% 0 14% 0);
    }
    5% {
      clip-path: inset(24% 0 29% 0);
    }
    10% {
      clip-path: inset(22% 0 14% 0);
    }
    15% {
      clip-path: inset(15% 0 4% 0);
    }
    20% {
      clip-path: inset(70% 0 26% 0);
    }
    25% {
      clip-path: inset(23% 0 16% 0);
    }
    30% {
      clip-path: inset(49% 0 31% 0);
    }
    35% {
      clip-path: inset(4% 0 58% 0);
    }
    40% {
      clip-path: inset(81% 0 1% 0);
    }
    45% {
      clip-path: inset(6% 0 57% 0);
    }
    50% {
      clip-path: inset(18% 0 29% 0);
    }
    55% {
      clip-path: inset(22% 0 37% 0);
    }
    60% {
      clip-path: inset(16% 0 83% 0);
    }
    65% {
      clip-path: inset(11% 0 12% 0);
    }
    70% {
      clip-path: inset(98% 0 1% 0);
    }
    75% {
      clip-path: inset(73% 0 1% 0);
    }
    80% {
      clip-path: inset(31% 0 69% 0);
    }
    85% {
      clip-path: inset(85% 0 2% 0);
    }
    90% {
      clip-path: inset(75% 0 19% 0);
    }
    95% {
      clip-path: inset(11% 0 30% 0);
    }
    100% {
      clip-path: inset(97% 0 1% 0);
    }
  }
  .glitch:hover:before {
    content: attr(data-text);
    position: absolute;
    left: -4px;
    right: 0;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: transparent;
    overflow: hidden;
    animation: noise-anim-2 15s infinite linear alternate-reverse;
  }
}

@media (max-width: 386px) {
  .glitch:hover {
    padding: 0 10px 0 10px;
  }

  .glitch:hover:after {
    padding: 0 10px 0 10px;
  }

  .glitch:hover:before {
    padding: 0 10px 0 10px;
  }
}

.dot-elastic {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotElastic 1s infinite linear;
}

.dot-elastic::before,
.dot-elastic::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotElasticBefore 1s infinite linear;
}

.dot-elastic::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotElasticAfter 1s infinite linear;
}

@keyframes dotElasticBefore {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElasticAfter {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

.timer-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.time {
  width: 40%;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
}
.time-box {
  height: 80%;
  width: 20%;
  text-align: center;
}

.time-box div,
.time-box p {
  font-size: 1vw;
  letter-spacing: 2.5px;
  color: rgb(163, 255, 235);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1), -1px -1px 4px whitesmoke;
}
.time-box div {
  height: 60%;
  font-size: 3vw;
  font-family: "Orbitron", sans-serif;
  padding-top: 10px;
}

#day-box p {
  letter-spacing: 5px;
}

::selection {
  background-color: transparent;
}

.tot-prize {
  color: #d51d1d !important;
  text-decoration: none !important;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
